* {
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    
    transition-timing-function: ease-in-out;
}

.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    
    display: none;
    z-index: 0
}

.raccours {
    position: relative;
    top: 19.45%;
    right: -3.5%;
    width: 12%;
    display: table;
}

.raccours1, .raccours11 {
    width: 120px;
    display: table-cell;
    opacity: 0.8;
}
.raccours2, .raccours22 {
    width: 150px;
    display: table-cell;
    opacity: 0.8;
}
.raccours3 {
    display: table-cell;
    opacity: 0.8;
}

.raccours1:hover { opacity: 1.0 }
.raccours2:hover { opacity: 1.0}
.raccours3:hover { opacity: 1.0}

.weight {
    position: relative;
    top: 18%;
    right: -26.2%; 
    width: 12%;
    text-align: right;
    display: table;
}

.currentWeight { opacity: 0.8 }
.currentWeight:hover { opacity: 1.0 }


.raccours1Other {
    width: 60px;
    display: table-cell;
    opacity: 0.8;
}
.sepOther {
    width: 20px;
    display: table-cell;
    opacity: 0.8;
}

.raccours2Other {

    display: table-cell;
    opacity: 0.8;
}


.raccours1Other:hover { opacity: 1.0 }
.raccours2Other:hover { opacity: 1.0}




.controlrename {
    position: absolute;
    flex-grow: 1;
    width: 193px;
    height: 40px;
    border: .12vh solid rgba(80,80,80,0.5);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin: 38px;
    text-align: center;
	font-size: 1.4vh;
    vertical-align: middle;
    line-height: 40px;

    top: 97%;
    left: 11%;
}

.controlinfo {
    position: absolute;
    flex-grow: 1;
    width: 193px;
    height: 40px;
    border: .12vh solid rgba(80,80,80,0.5);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin: 38px;
    text-align: center;
	font-size: 1.4vh;
    vertical-align: middle;
    line-height: 40px;

    top: 88%;
    left: 11%;
}



.inventory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1800px;
    height: 650px;
    color: rgba(255, 255, 255, .5);
    border-radius: 7px
}

#playerInventory {
    width: 700px;
    height: 600px;
    float: left;
    overflow-y: scroll
}

#controls {
    width: 350px;
    height: 500px;
    float: left;
    position: relative;
    left: 0;
    top: 0
}

#playerInventoryFastItems {
    width: 700px;
    height: 50px;
    
    position: absolute;
    bottom: -30.4%;
    left: 0;
    z-index: 100;
    float: left
 
}

#otherInventory {
    width: 700px;
    height: 600px;
    float: left;
    overflow-y: scroll
}

#count {
    border: none;
    outline: 0;
    border: .12vh solid rgba(80,80,80,0.5);
    font-size: 15px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.slot {
    float: left;
    width: 12.22vh;
    height: 12.22vh;
    bottom: -5%;
    color: #fff;
	background-color: rgba(29, 28, 28, 0.2);
    margin: 0.8px;
    border-radius: 7px;
    
    border: .12vh solid rgba(80,80,80,0.5);
    position: relative
}

.slotfix {
    float: left;
    width: 12vh;
    height: 12vh;
    bottom: -5%;
    color: #fff;
    background-color: rgba(31, 30, 30, 0.40);
    margin: 2px;
    border-radius: 7px;
    position: relative
}



.nearbyPlayerButton:hover {
    background-color: rgba(44, 44, 44, 0.2)
}


.slotFast:hover {
    background-color: rgba(170,170,170,0.6);
}

.slot:hover {
    background-color: rgba(170,170,170,0.6);
}





.slotFast {
    float: left;
    width: 12.22vh;
    height: 12.22vh;
    bottom: 400.4%;
    color: #fff;
    background-color: rgba(29, 28, 28, 0.2);
    border: .12vh solid rgba(80,80,80,0.5);
    margin: 0.8px;
    border-radius: 7px;
    position: relative
}



.item,
.item-other {
    width: 125px;
    height: 85px;
    margin-top: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center
}

.item-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 2px;
    width: 125px;
    min-height: 10px;
    z-index: 500;
    font-size: 1vh;
}

.ui-draggable-dragging .item-count,
.ui-draggable-dragging .item-name {
    display: none
}

.item-count {
    position: absolute;
    text-align: right;
    width: 109px;
    margin-top: -15px;
    margin-left: 10px;
    height: 20px;
    z-index: 500;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.11vh;
}

.keybind {
    position: absolute;
    text-align: right;
    width: 114px;
    margin-top: -15px;
    margin-left: -100px;
    height: 20px;
    z-index: 500;
    font-size: 12px
    
}

.ammoIcon {
    
    width: 13px;
    height: 13px
}

.info-div {
    align-items: center;
	text-align: center;
   

    padding: 5px;

    width: 80%;
    position: absolute;
    left: 49%;
    top: -8%;
    transform: translate(-50%, -50%);
}

.controls-div {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}


.control {
    flex-grow: 1;
    width: 193px;
    height: 40px;
    border: .12vh solid rgba(80,80,80,0.5);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin: 38px;
    
    text-align: center;
	font-size: 1.4vh;
    vertical-align: middle;
	line-height: 4.10vh;
}

.control.disabled {
    background-color: rgba(112, 123, 124, 0.5);
}

.hoverControl {
  
    background-color: rgba(255, 255, 255, 0.185);
}

.changement {
    width: 193px;
    height: 120px;
    background-color: rgba(170,170,170,0.6);
    position: relative;
    font-size: 18px;
    line-height: 440px;
    left: 80px;
    vertical-align: middle;
   
}





.used-item-slot {
    position: absolute;
    right: 50px;
    bottom: 50%;
    height: 125px;
    width: 110px;
    background-color: rgba(124, 124, 124, .356);
    border-style: solid;
    border-width: 1px 1px 1px 1px
}

#used-item-image {
    height: 125px;
    width: 110px;
    background-image: url(img/used-item.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 0
}

.added-item-slot {
    position: absolute;
    right: 50px;
    bottom: 50%;
    height: 125px;
    width: 110px;
    background-color: rgba(124, 124, 124, .356);
    border-style: solid;
    border-width: 1px 1px 1px 1px
}

#added-item-image {
    height: 125px;
    width: 110px;
    background-image: url(img/added-item.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 0
}

.item-name-bg {
    width: 100%;
    width: 117px;
    height: 17px;
    position: absolute;
    bottom: 0
}

#otherInventory::-webkit-scrollbar-track,
#playerInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none
}

#otherInventory::-webkit-scrollbar,
#playerInventory::-webkit-scrollbar {
    width: 10px
}

.nearbyPlayerButton {
    width: 100%;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    padding: 2px;
    color: rgba(255, 255, 255, .85);
    background-color: rgba(0, 99, 145, 0.123);
    border-radius: 7px;
    text-shadow: none;
    font-size: 14px!important;
    outline: 0;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    border: none
}


#noSecondInventoryMessage {
    width: 615px;
    height: 580px;
    line-height: 580px;
    text-align: center
}

@media (max-width:1500px) {
    .inventory {
        width: 1300px
    }
    #playerInventory {
        width: 550px
    }
    #controls {
        width: 200px
    }
    #otherInventory {
        width: 550px
    }
    #noSecondInventoryMessage {
        width: 540px
    }
}

@media (max-width:1300px) {
    .inventory {
        width: 1000px
    }
    #playerInventory {
        width: 425px
    }
    #controls {
        width: 150px
    }
    #otherInventory {
        width: 425px
    }
    #noSecondInventoryMessage {
        width: 420px
    }
}